$BgColor: red; //ana color
// $BgColorDark: #100f15;
$BgColorLight: red; //light
$BgColorLighter: red; // Ligter
$BgColorlightest: red; // Ligter
$BgColorDark: red; //dark olucak
$BgColorLightHex: red;

// body{
// 	background:$BgColor;
// }